.ellipse {
  display: block;
  width: 117px;
  height: 125px;
  background-size: cover;
  transition: all 2s;
  position: absolute;
}
.ellipse__one {
  width: 115px;
  height: 117px;
  left: 10%;
  top: -100px;
  background-image: url(../../assets/img/header/image_1.1.png);
}
.ellipse__two {
  left: -170px;
  top: 60px;
  background-image: url(../../assets/img/header/image_2.1.png);
}
.ellipse__three {
  left: -90px;
  bottom: 77px;
  z-index: 10;
  background-image: url(../../assets/img/header/image_3.1.png);
}
.ellipse__four {
  width: 127px;
  height: 135px;
  right: -115px;
  bottom: 5px;
  z-index: 10;
  background-image: url(../../assets/img/header/image_4.1.png);
}
.ellipse__five {
  right: -200px;
  top: 25%;
  width: 92px;
  height: 97px;
  background-image: url(../../assets/img/header/image_5.1.png);
}
.ellipse__img {
  position: absolute;
  left: 0;
  animation-name: active-image;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.ellipse__svg {
  width: 57px;
  height: 64px;
  background-size: cover;
  position: absolute;
  animation-name: active-svg;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.ellipse__svg_one {
  left: -25px;
  bottom: -20px;
  z-index: 10;
  background-image: url(../../assets/PNG/header/icon_1.1.png);
}
.ellipse__svg_two {
  left: -10px;
  top: -10px;
  background-image: url(../../assets/PNG/header/icon_1.2.png);
}
.ellipse__svg_three {
  left: -10px;
  top: -10px;
  background-image: url(../../assets/PNG/header/icon_1.3.png);
}
.ellipse__svg_four {
  left: -45px;
  top: 30px;
  background-image: url(../../assets/PNG/header/icon_1.4.png);
}
.ellipse__svg_five {
  bottom: 5px;
  left: -35px;
  background-image: url(../../assets/PNG/header/icon_1.5.png);
}

@keyframes active-image {
  0% {
    width: 105%;
  }
  100% {
    width: 95%;
  }
}
@keyframes active-svg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@media screen and (max-width: 768px) {
  .ellipse {
    width: 95px;
    height: 95px;
  }
  .ellipse__one {
    top: -120px;
  }
  .ellipse__two {
    left: 310px;
    top: 500px;
  }
  .ellipse__three {
    left: 10px;
    bottom: -7px;
    z-index: 10;
  }
  .ellipse__four {
    right: 10px;
    bottom: -7px;
  }
  .ellipse__five {
    right: 150px;
    top: -150px;
  }
}
@media screen and (max-width: 376px) {
  .ellipse {
    width: 55px;
    height: 55px;
  }
  .ellipse__one {
    top: -60px;
    left: 35px;
  }
  .ellipse__two {
    left: 45%;
    top: 275px;
  }
  .ellipse__three {
    left: 10px;
    bottom: -10px;
    display: block;
    z-index: 10;
  }
  .ellipse__four {
    left: 90%;
    top: 215px;
    z-index: 10;
    display: block;
  }
  .ellipse__five {
    right: 50px;
    top: -80px;
  }
  .ellipse__svg {
    width: 27px;
    height: 27px;
  }
  .ellipse__svg_one {
    left: -5px;
    bottom: -10px;
  }
  .ellipse__svg_four {
    left: -15px;
    top: -3px;
  }
  .ellipse__svg_five {
    bottom: 5px;
    left: -10px;
  }
}
/*@media screen and (max-height: 376px) {
  .ellipse {
    width: 75px;
    height: 75px;
    &__one {
      top: -80px;
      left: 35px;
    }
    &__two {
      left: 90%;
      top: 450px;
      z-index: 10;
    }
    &__svg {
      width: 27px;
      height: 27px;
      &_one {
        left: -5px;
        bottom: -10px;
      }
      &_five {
        bottom: 5px;
        left: -10px;
      }
    }
  }
}*/

/*# sourceMappingURL=ellipse.css.map */
