.container-image {
  width: 49%;
  height: 527px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  &:nth-child(1) {
    justify-content: center;
  }
  &_1 {
    background-image: url(../../assets/img/main/Illustration_1.png);
  }
  &_2 {
    background-image: url(../../assets/img/main/Illustration-2.png);
  }
  &_3 {
    background-image: url(../../assets/img/main/Illustration_3.png);
  }
  &_4 {
    background-image: url(../../assets/img/main/Illustration_4.png);
  }
  &_5 {
    background-image: url(../../assets/img/main/Illustration_5.png);
  }
  &_6 {
    background-image: url(../../assets/img/main/Illustration_6.png);
  }
}

.content-img {
  width: 90%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &_1 {
    background-image: url(../../assets/img/main/images_1.png);
  }
  &_2 {
    background-image: url(../../assets/img/main/images_2.png);
  }
  &_3 {
    background-image: url(../../assets/img/main/images_3.png);
  }
  &_4 {
    background-image: url(../../assets/img/main/images_4.png);
  }
  &_5 {
    background-image: url(../../assets/img/main/images_5.png);
  }
  &_6 {
    background-image: url(../../assets/img/main/images_6.png);
  }
}
@media screen and (max-width: 769px) {
  .container-image {
    height: 387px;
    width: 50%;
  }
  .content-img {
    height: 100%;
  }
}
/*@media screen and (max-height: 769px) {
  .container-image {
    height: 387px;
    width: 50%;
  }
  .content-img {
    height: 100%;
    width: 80%;
  }
}*/
@media screen and (max-width: 376px) {
  .container-image {
    height: 242px;
    width: 270px;
    align-items: center;
    order: 2;
  }
  .content-img {
    width: 100%;
    height: 100%;
  }
}
